*{box-sizing: border-box;}

body{ background-color: grey; }

h1{text-align: center;
color: darkblue;
}

div{
width: 33%;
border: 1px solid black;
background-color: darkblue;
text-align: justify;
display: inline-block;
padding:8px;
position: relative;
float: left;
margin: 0px 2px 2px 2px;
height: auto;
}

h2{color: darkblue;
background-color: white;
width: fit-content;
position: relative;
float: right;
padding: 1%;
margin: 0px 2px 2px 0px;

}

p{
text-align: justify ;
color: white;
position: relative;
float: left;
margin: 2px 2px 2px 2px;
}

div{width: 100%;}

@media (max-width 767px){.A, .B, .C
	float:left;
.A{width: 100%;
}
.B{width: 100%;
}
.C{width: 100%;
}
}


@media (min-width: 768px) and (max-width: 991px) {.A1, .B1, .C1
	
.A1{width: 49.5%;
}
.B1{width: 49.5%;
}
.C1{width: 99.6%;
}
}

@media (min-width: 992px) {.A2, .B2, .C2
	
.A2{width: 33%;
}
.B2{width: 33%;
}
.C2{width: 33%;
}
}